body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:310px;
    top:150px;
    width:673px;
    height:708px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1 {
    position:absolute;
    left:709px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u2 {
    position:absolute;
    left:901px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3_normal {
    background-image: url('../申请开店_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:302px;
    top:0px;
    width:46px;
    height:60px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:60px;
}

.u4 {
    position:absolute;
    left:2px;
    top:22px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_line {
    background-image: url('../申请开店_files/u5_line.png');
}

.u5_line {
    position:absolute;
    left:0px;
    top:2px;
    width:700px;
    height:7px;
}

.u5 {
    position:absolute;
    left:301px;
    top:70px;
    width:700px;
    height:10px;
    
}

.u6 {
    position:absolute;
    left:305px;
    top:80px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#009966;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:504px;
    top:80px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#009966;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:701px;
    top:80px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#009966;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:901px;
    top:80px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#009966;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

