* html .u3_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我要开店流程_files/u3_normal.png");
}

* html .u5_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="我要开店流程_files/u5_line.png");
}

